<ion-view name="notes-add" view-title="Login">
 <ion-content>
    <ion-list>
      <label class="item item-input">
        <input type="text" ng-model="$ctrl.user.username" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="$ctrl.user.password" placeholder="Password">
      </label>
    </ion-list>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="$ctrl.login()">Login</button>
    </div>
  </ion-content>
</ion-view>
