<ion-view name="notes-add" view-title="Add a note">
  <ion-nav-buttons side="primary">
    <button ng-if="$ctrl.mode == 'VIEW'" class="button button-clear" ng-click="$ctrl.delete()">Delete</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button ng-if="$ctrl.mode == 'EDIT'" class="button button-clear" ng-click="$ctrl.save()">Save</button>
    <button ng-if="$ctrl.mode == 'VIEW'" class="button button-clear" ng-click="$ctrl.edit()">Edit</button>
  </ion-nav-buttons>
 <ion-content>
    <ion-list ng-if="$ctrl.mode == 'EDIT'" >
      <label class="item item-input">
        <textarea ng-model="$ctrl.note.content"></textarea>
      </label>
    </ion-list>

    <div ng-if="$ctrl.mode == 'VIEW'" class="padding" ng-bind-html="$ctrl.note.content | toBrs">
    </div>
  </ion-content>
</ion-view>
