<ion-view name="notes-add" view-title="Add a note">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="$ctrl.add()" ng-if="$ctrl.note.content && $ctrl.note.content !== ''">Save</button>
  </ion-nav-buttons>
 <ion-content>
    <ion-list>
      <label class="item item-input">
        <textarea ng-model="$ctrl.note.content"></textarea>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
