<ion-view name="notes-list" view-title="Notes">
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-refresh button-clear" ng-click="$ctrl.refresh()"></button>
    <button class="button icon ion-plus button-clear" ui-sref="notes-add"></button>
  </ion-nav-buttons>
 <ion-content>
    <ion-list>
      <ion-item ng-repeat="note in $ctrl.notes" ui-sref="note-details({noteId: note.key})">
        {{ note.content | firstLine }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
